.load_w
{
    display: flex;
    pointer-events: none;
}

.pillar_content
{
    display: none;
}

.p_wrap {
    position: relative;
    width: 100%;
    min-height: 100vh;
    will-change: clip-path;
    clip-path: inset(0 0 0 0);
}

/* body
{
    background: #F6F3EF;
} */