html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}
.load_w
{
    display: flex;
    pointer-events: none;
}


.p_wrap {
    position: relative;
    width: 100%;
    min-height: 100vh;
    will-change: clip-path;
    clip-path: inset(0 0 0 0);
}


.camp-svg
{
    width: 100% !important;
    height: 100% !important;
    display: block;
    object-fit: contain; 
}

.emblem-camp-svg
{
    width: 2.4rem !important;
    height: 100% !important;
    display: block;
    object-fit: cover;
}

.hero_mask
{
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;

    clip-path: polygon(
      50% 50%, 50% 50%, 50% 50%, 50% 50% 
    );
  }


.featured_title.jFont
{
    max-width: 20ch !important;
    
}


.featured_title.seraFont
{
    max-width: 22ch !important;
}

.story_title.jFont
{
    max-width: 16ch !important;

}

.story_title.seraFont
{
    max-width: 18ch !important;

}

.f_exp_title.jFont
{
    max-width: 19ch !important;
}



.f_exp_title.seraFont
{
    max-width: 18ch !important;
}

.info_line_t
{
    transform: scaleX(0%);
    will-change: transform;
}

.info_gc_content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    visibility: hidden; 
  }

  .tents_c_item {
    perspective: 1000px;
    transform-style: preserve-3d;
  }


.q_text.elegant
{
    max-width: 38ch !important;
}

.q_text.ruth
{
    max-width: 20ch !important;
}

.q_text.roboto
{
    max-width: 40ch !important;
}


.n_light_b
{
    mix-blend-mode: difference !important;
}


@media (max-width: 1250px) {
    .stat_card {
      width: 21rem;
      flex: 0 0 auto;
    }

    .stat_pag_w
    {
        opacity: 1;
    }
  }



  .g_collection_item:nth-child(1) .g_img_wrap {
    width: 20rem;
    height: 26rem;
  }

  
  .g_collection_item:nth-child(2) .g_img_wrap {
    width: 48rem;
    height: 33rem;
  }

  .g_collection_item:nth-child(3) .g_img_wrap {
    width: 39rem;
    height: 26rem;
  }

  .g_collection_item:nth-child(4) .g_img_wrap {
    width: 35rem;
    height: 35rem;
  }